<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>teamID</key>
		<string>HFNWKQ65UU</string>
		<key>method</key>
		<string>ad-hoc</string>
		<key>provisioningProfiles</key>
		<dict/>
		<key>com.iqbxq.springhalo.AutoArchiveTest</key>
		<string>e558d2b8-d63e-4bd2-8cb2-ed9c84eead31</string>
	</dict>
</dict>
</plist>
